@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400&display=swap');

/* Reset CSS */
*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Noto Serif TC', serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #383838;
  line-height: 1.5;
}
#bannertext{
  padding-top: 20px;
}
#banner1 p{
  line-height: 1.3;
  color:darkgrey;
  font-weight: bolder;
  font-style: italic;
}
#line1 {
  font-size: 18px;
}
#line2 {
  font-size: 25px;
}
#line3 {
  font-size: 34px;
}
#line4 {
  font-size: 20px;
}
#line5 {
  font-size: 40px;
}
#line6 {
  font-size: 20px;
}
.highlight{
	background-image: linear-gradient(90deg, #383838 50%, #ABC6CE 50%);
	background-position: 0%;
	background-size: 200%;
}
.highlight:hover{
  background-position: -100%;
  transition: all 0.5s ;
  color: #383838;
}
.container {
  position:relative;
  width: 24px;
  height: 24px;
  top:-200px;
}

.chevron {
  position:absolute;
  width: 20px;
  height: 8px;
  opacity: 0;
  top: 13px;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 150px;
  margin-left: -26px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 10px;
  color:whitesmoke;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#banner2{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:center;
}
#banner2 video{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  object-fit: cover;
  opacity: 55%;
}
#banner2 h1{
  position: absolute;
  top: -145px;
  left: 80px;
  width: 1000px;
  height: 100%;
  font-size: 53px;
  text-align: left;
  line-height:100vh;
  font-weight: bold;
  color: whitesmoke;
}
#banner2 h3{
  position:relative;
  top:110px;
  width: 800px;
  line-height: 1.6;
  left: 70px;
  height: 100%;
  font-size: 16.5px;
  text-align: left;
  color: whitesmoke;
}

#nav{
  background-color:whitesmoke;
  padding: 5px;
}
li{
  display:block;
}
li:hover{
  background-color:#ABC6CE;
}
#footer{
  padding-top: 20px;
  height:200px;
  background-color:#3C6287;
  color:whitesmoke;
}
#footer h3{
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
}
#footer p{
  font-size: 15px;
  text-align: center;
  color: white;
}
.container-fluid{
  color: white;
}
.container-fluid .row {
  padding: 60px
}
.line{
  width: 3px;
  height: 1000px;
  position: relative;
  background-position-x: 100px;
  background-position-y: center;
  background-color: whitesmoke;
}
.link-top {
  width: 30%;
  height: 100px;
  border-top: solid whitesmoke 2px;
}
.container-fluid h2{
  height: 85px;
  font-weight: bold;
  font-size: 30px;
}
.container-fluid p{
  font-size: 19px;
  width: 530px;
}
#content1 {
  background-image: url("https://hazelchen02.github.io/project/assets/old.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 100%;
}
#content1_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/1.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_2nd h1{
  width: 100%;
  height: 38%;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.3;
}
#content1_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/1.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/2.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/3.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_5th {
	background-image: url("https://hazelchen02.github.io/project/assets/4.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_6th {
	background-image: url("https://hazelchen02.github.io/project/assets/5.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_7th {
	background-image: url("https://hazelchen02.github.io/project/assets/6.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_8th {
	background-image: url("https://hazelchen02.github.io/project/assets/7.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_9th {
	background-image: url("https://hazelchen02.github.io/project/assets/8.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_10th {
	background-image: url("https://hazelchen02.github.io/project/assets/9.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_11th {
	background-image: url("https://hazelchen02.github.io/project/assets/10.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_12th {
	background-image: url("https://hazelchen02.github.io/project/assets/11.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_13th {
	background-image: url("https://hazelchen02.github.io/project/assets/12.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#sep1{
  background-color: #383838;
  height: 100px;
}
#content2 h1{
  width: 100%;
  height: 85px;
  font-size: 47px;
  font-weight: bold;
}
#content2_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/13.png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 180px;
  min-height: 700px;
}
#content2_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/14.png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 43%;
  background-position-x: 650px;
  background-position-y: 50px;
  min-height: 700px;
}
#content2_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/15.png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 140px;
  min-height: 700px;
}

#sep2{
  background-color: #383838;
  height: 120vh;
}
#sep2 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:whitesmoke;
  font-weight: bold;
}

#content3_2nd h1{
  width: 100%;
  height: 85px;
  font-size: 47px;
  font-weight: bold;
}
#content3_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/16.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 100px;
  min-height: 800px;
}
#content3_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/16.png");
  background-color:#383838;
	background-attachment: fixed;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 100px;
  background-repeat: no-repeat;
  min-height: 800px;
}
#content3_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/image0.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/image (4).png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_5th {
	background-image: url("https://hazelchen02.github.io/project/assets/image0.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_6th {
	background-image: url("https://hazelchen02.github.io/project/assets/image (1).png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_7th{
  padding-top: 100px;
}
#content3_7th p{
  width: 100%;
  padding: 60px;
}
#content3_8th p{
  width: 100%;
  padding: 60px;
}
#content3_9th {
  height: 70vh;
}
.col-md-8{
  left: 180px;
  top: -20px;
  background-color: whitesmoke;
}
#content3_10th p{
  width: 100%;
  padding: 60px;
}

#sep3{
  background-color: #383838;
  height: 120vh;
}
#sep3 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:#f5f5f5;
  font-weight: bold;
}
#content4 h1{
  width: 100%;
  height: 100px;
  font-size: 47px;
  font-weight: bold;
  padding-left: 60px;
}
#content4_1st{
  height: 150vh;
}
#content4_1st .col-md-6:last-child{
  background-color: whitesmoke;
  height: 225px;
  top: 60px;
}
#content4_1st p{
  width: 480px;
}
#content4_2nd{
  height: 100vh;
}
#content4_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/image (3).png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 140px;
  min-height: 700px;
}
#content4_2nd p{
  width: 590px;
}
#content4_3rd{
  height: 100vh;
}
#content4_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/image (1).png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 140px;
  min-height: 700px;
}
#content4_3rd p{
  width: 590px;
}
#content4_4th{
  height: 100vh;
}
#content4_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__753670.jpg");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 30px;
}
#content4_4th p{
  width: 590px;
}
#sep4{
  background-color: #383838;
  height: 120vh;
}
#sep4 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:whitesmoke;
  font-weight: bold;
}
#content5_1st{
  height: 100vh;
  width: 100%;
  background:rgba(0,0,0,0.5);
}
#content5 p{
  width: 1200px;
  padding-top: 80px;
  color: whitesmoke;
  font-size: 18.5px;
  padding-left: 50px;
}
#content5{
  background: url("https://hazelchen02.github.io/project/assets/image (2).png");
  background-size: cover;
  background-position-y: 840px;
}
