@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400&display=swap');

/* Reset CSS */
*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Noto Serif TC', serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #383838;
  line-height: 1.5;
}
.banner1 p{
  color: whitesmoke;
  font-weight: bolder;
  font-style: italic;
}
#line1 {
  background-color: #3C6287;
  font-size: 40px;
  text-align: right;
}
#line2 {
  background-color:darkred;
  font-size: 47px;
  text-align:right;
}
#line3 {
  background-color:black;
  font-size: 30px;
  text-align:center;
}
#line4 {
  background-color:darkgoldenrod;
  font-size: 47px;
  text-align:center;
}
#line5 {
  background-color:#273e54;
  font-size: 35px;
  text-align:left;
}

.container {
  position:relative;
  width: 24px;
  height: 24px;
  top:-195px;
}

.chevron {
  position:absolute;
  width: 20px;
  height: 8px;
  opacity: 0;
  top: 13px;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 150px;
  margin-left: -26px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 10px;
  color:whitesmoke;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.banner2{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:center;
}
.banner2 h1{
  position: absolute;
  top:-170px;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:whitesmoke;
  font-weight: bold;
}
.banner2 h3{
  position:relative;
  top:50px;
  width: 840px;
  line-height: 1.5;
  left:0;
  height: 100%;
  font-size: 20px;
  text-align: center;
  color: white;
}

#nav{
  background-color:#e6e6e6;
  padding: 5px;
}
li{
  display:block;
}
li:hover{
  background-color:whitesmoke;
}
#footer{
  padding-top: 20px;
  height:200px;
  background-color:#3C6287;
  color:whitesmoke;
}
#footer h3{
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
}
#footer p{
  font-size: 15px;
  text-align: center;
  color: white;
}
.container-fluid{
  color: white;
}
.container-fluid .row {
  padding: 60px
}
.line{
  width: 3px;
  height: 1000px;
  position: relative;
  background-position-x: 100px;
  background-position-y: center;
  background-color: whitesmoke;
}
.link-top {
  width: 30%;
  height: 100px;
  border-top: solid whitesmoke 2px;
}
.container-fluid h2{
  height: 85px;
  font-weight: bold;
  font-size: 30px;
}
.container-fluid p{
  font-size: 20px;
  width: 530px;
}
#content1_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448330.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_2nd h1{
  width: 100%;
  height: 38%;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.3;
}
#content1_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448330.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/2.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/3.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_5th {
	background-image: url("https://hazelchen02.github.io/project/assets/4.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_6th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448330.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_7th {
	background-image: url("https://hazelchen02.github.io/project/assets/6.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_8th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448330.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_9th {
	background-image: url("https://hazelchen02.github.io/project/assets/8.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_10th {
	background-image: url("https://hazelchen02.github.io/project/assets/9.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_11th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448332.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_12th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448330.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_13th {
	background-image: url("https://hazelchen02.github.io/project/assets/12.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#sep1{
  background-color: #383838;
  height: 400px;
}
#content2 h1{
  width: 100%;
  height: 85px;
  font-size: 50px;
  font-weight: bold;
}
#content2{
  padding: 75px;
}
#content2 p{
  width: 100%;
}
#content2_1st{
  height: 100vh;
}
#content2_2nd{
  height: 100vh;
}
#content2_3rd{
  height: 100vh;
}

#sep2{
  background-color: #383838;
  height: 120vh;
}
#sep2 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:whitesmoke;
  font-weight: bold;
}

#content3_2nd h1{
  width: 100%;
  height: 85px;
  font-size: 50px;
  font-weight: bold;
}
#content3_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448332.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 95px;
  min-height: 800px;
}
#content3_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448332.jpg");
  background-color:#383838;
	background-attachment: fixed;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 95px;
  background-repeat: no-repeat;
  min-height: 800px;
}
#content3_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448330.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 95px;
  min-height: 800px;
}
#content3_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448332.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 95px;
  min-height: 800px;
}
#content3_5th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448330.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 95px;
  min-height: 800px;
}
#content3_6th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__4448332.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 95px;
  min-height: 800px;
}
#content3_7th{
  padding-top: 100px;
}
#content3_7th p{
  width: 100%;
  padding: 60px;
}
#content3_8th p{
  width: 100%;
  padding: 60px;
}
#content3_9th p{
  width: 100%;
  padding: 60px;
}

#sep3{
  background-color: #383838;
  height: 120vh;
}
#sep3 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:whitesmoke;
  font-weight: bold;
}
#content4 h1{
  width: 100%;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
}
#content4 p{
  width: 590px;
}
#content4_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/image1.png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 200px;
  min-height: 700px;
}
#content4_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/image (3).png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 140px;
  min-height: 700px;
}
#content4_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/image (1).png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 140px;
  min-height: 700px;
}
#content4_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/S__753670.jpg");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 30px;
}
#sep4{
  background-color: #383838;
  height: 120vh;
}
#sep4 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:whitesmoke;
  font-weight: bold;
}
#content5_1st{
  width: 100%;
  height: 100vh;
}
#content5 p{
  padding: 60px;
  width: 100%;
}
#content5{
  background-image: url("https://hazelchen02.github.io/project/assets/image (2).png");
  background-size: cover;
}
