@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400&display=swap');

/* Reset CSS */
*{
  margin:0;
  padding:0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  font-family: 'Noto Serif TC', serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #383838;
  line-height: 1.5;
}
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#383838;
}

#loading-image {
  z-index: 100;
  height: 70%;
  width: 30%;
  padding-bottom: 80px;
}

#bannertext{
  padding-top: 20px;
}
#banner1 p{
  line-height: 1.3;
  color:darkgrey;
  font-weight: bolder;
  font-style: italic;
}
#line1 {
  font-size: 18px;
  margin: 0px;
}
#line1-1 {
  font-size: 12px;
  margin: 3px;
  text-align: right;
}
#line2 {
  font-size: 25px;
  margin: 0px;
}
#line2-1 {
  font-size: 12px;
  margin: 3px;
  text-align: left;
  padding-left: 100px;
}
#line3 {
  font-size: 34px;
  margin: 0px;
}
#line3-1 {
  font-size: 12px;
  margin: 3px;
  text-align: left;
  padding-left: 100px;
}
#line4 {
  font-size: 22px;
  margin: 0px;
}
#line4-1 {
  font-size: 12px;
  margin: 3px;
  text-align: right;
  padding-right: 150px;
}
#line5 {
  font-size: 40px;
  margin: 0px;
}
#line5-1 {
  font-size: 12px;
  margin: 3px;
  text-align: left;
  padding-left: 100px;
}
#line6 {
  font-size: 20px;
  margin: 0px;
}
#line6-1 {
  font-size: 12px;
  margin: 1px;
  text-align: right;
  padding-right: 70px;
}
.highlight{
	background-image: linear-gradient(90deg, #383838 50%, #ABC6CE 50%);
	background-position: 0%;
	background-size: 200%;
}
.highlight:hover{
  background-position: -100%;
  transition: all 0.5s ;
  color: #383838;
}
.container {
  position:relative;
  width: 24px;
  height: 24px;
  top:-220px;
}
.chevron {
  position:absolute;
  width: 20px;
  height: 8px;
  opacity: 0;
  top: 10px;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 150px;
  margin-left: -26px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 10px;
  color:whitesmoke;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#banner2{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:center;
}
#banner2 video{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  object-fit: cover;
  opacity: 55%;
}
#banner2 h1{
  position: absolute;
  top: -145px;
  left: 80px;
  width: 1000px;
  height: 100%;
  font-size: 53px;
  text-align: left;
  line-height:100vh;
  font-weight: bold;
  color: whitesmoke;
}
#banner2 h3{
  position:relative;
  top:110px;
  width: 800px;
  line-height: 1.6;
  left: 70px;
  height: 100%;
  font-size: 16.5px;
  text-align: left;
  color: whitesmoke;
}

#nav{
  background-color:whitesmoke;
  padding: 5px;
}
li{
  display:block;
}
li:hover{
  background-color:#ABC6CE;
}
#footer{
  padding-top: 15px;
  height:180px;
  background-color:#3C6287;
  color:whitesmoke;
}
#footer h3{
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 2.3;
}
#footer p{
  font-size: 15px;
  text-align: center;
  color: white;
  line-height: 1;
}
.container-fluid{
  color: white;
}
.container-fluid .row {
  padding: 60px
}
.line{
  width: 3px;
  height: 1000px;
  position: relative;
  background-position-x: 100px;
  background-position-y: center;
  background-color: whitesmoke;
}
.link-top {
  width: 30%;
  height: 100px;
  border-top: solid whitesmoke 2px;
}
.container-fluid h2{
  height: 85px;
  font-weight: bold;
  font-size: 30px;
}
.container-fluid p{
  font-size: 19px;
  width: 530px;
}
#content1 {
  background-image: url("https://hazelchen02.github.io/project/assets/old.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 100%;
}
#content1_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/1.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_2nd h1{
  width: 100%;
  height: 150px;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.3;
}
#content1_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/1.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/2.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/3.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_5th {
	background-image: url("https://hazelchen02.github.io/project/assets/4.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_6th {
	background-image: url("https://hazelchen02.github.io/project/assets/5.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_new7th {
	background-image: url("https://hazelchen02.github.io/project/assets/5.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_7th {
	background-image: url("https://hazelchen02.github.io/project/assets/6.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_8th {
	background-image: url("https://hazelchen02.github.io/project/assets/7.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_9th {
	background-image: url("https://hazelchen02.github.io/project/assets/8.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_10th {
	background-image: url("https://hazelchen02.github.io/project/assets/9.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_11th {
	background-image: url("https://hazelchen02.github.io/project/assets/10.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_12th {
	background-image: url("https://hazelchen02.github.io/project/assets/11.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_13th {
	background-image: url("https://hazelchen02.github.io/project/assets/12.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 80px;
  background-position-y: 95px;
  min-height: 800px;
}
#content1_14th {
  height: 100vh;
  padding-top: 140px;
  padding-left: 230px;
}
#content1_14th p{
  width: 750px;
}
#sep1{
  background-color: #383838;
  height: 100px;
}
#content2 h1{
  width: 100%;
  height: 85px;
  font-size: 47px;
  font-weight: bold;
}
#content2_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/13.png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 180px;
  min-height: 700px;
}
#content2_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/14.png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 43%;
  background-position-x: 650px;
  background-position-y: 50px;
  min-height: 700px;
}
#content2_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/15.png");
  background-color:#383838;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 140px;
  min-height: 700px;
}

#sep2{
  background-image: url("https://hazelchen02.github.io/project/assets/bg.jpg");
  height: 120vh;
  background-size: cover;
}
#sep2_1{
  width: 100%;
  height: 120vh;
  background:rgba(0,0,0,0.4);
}
#sep2 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:whitesmoke;
  font-weight: bold;
}

#content3_2nd h1{
  width: 100%;
  height: 85px;
  font-size: 47px;
  font-weight: bold;
}
#content3_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/16new.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/16new.png");
  background-color:#383838;
	background-attachment: fixed;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  background-repeat: no-repeat;
  min-height: 800px;
}
#content3_9th {
	background-image: url("https://hazelchen02.github.io/project/assets/16new.png");
  background-color:#383838;
	background-attachment: fixed;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  background-repeat: no-repeat;
  min-height: 800px;
}
#content3_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/image0.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/image (4).png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_5th {
	background-image: url("https://hazelchen02.github.io/project/assets/19.png");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_6th {
	background-image: url("https://hazelchen02.github.io/project/assets/medical.jpg");
  background-color:#383838;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 33%;
  background-position-x: 750px;
  background-position-y: 160px;
  min-height: 800px;
}
#content3_new6th p{
  width: 500px;
}
#content3_7th {
  height: 80vh;
  padding-top: 100px;
  padding-left: 230px;
}
#content3_7th p{
  width: 750px;
}
#sep3{
  background-image: url("https://hazelchen02.github.io/project/assets/image (4).png");
  height: 120vh;
  background-size: cover;
}
#sep3 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:#f5f5f5;
  font-weight: bold;
}
#sep3_1{
  width: 100%;
  height: 120vh;
  background:rgba(0,0,0,0.6);
}
#sep3_2{
  background-color: #383838;
  height: 30vh;
}
#content4 h1{
  width: 100%;
  height: 100px;
  font-size: 47px;
  font-weight: bold;
  padding-left: 60px;
}
#content4_1st {
	background-image: url("https://hazelchen02.github.io/project/assets/image1.png");
  background-color:#383838;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 750px;
  background-position-y: 50px;
  min-height: 500px;
  padding-right: 0px;
}
#content4_1st p{
  width: 580px;
}
#content4_1stnew {
	background-image: url("https://hazelchen02.github.io/project/assets/image1.png");
  background-color:#383838;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 750px;
  background-position-y: 50px;
  min-height: 500px;
}
#content4_1stnew{
  height: 70vh;
}
#content4_2nd {
	background-image: url("https://hazelchen02.github.io/project/assets/image1.png");
  background-color:#383838;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 750px;
  background-position-y: 50px;
  min-height: 500px;
}
#content4_2nd p{
  width: 580px;
}
#content4_3rd {
	background-image: url("https://hazelchen02.github.io/project/assets/image (3).png");
  background-color:#383838;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 750px;
  background-position-y: 50px;
  min-height: 500px;
}
#content4_3rd p{
  width: 580px;
}
#content4_4th {
	background-image: url("https://hazelchen02.github.io/project/assets/image (3).png");
  background-color:#383838;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 750px;
  background-position-y: 50px;
  min-height: 500px;
}
#content4_4th p{
  width: 580px;
}
#content4_5th {
	background-image: url("https://hazelchen02.github.io/project/assets/image (3).png");
  background-color:#383838;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 750px;
  background-position-y: 50px;
  min-height: 500px;
}
#content4_5th p{
  width: 580px;
}
#content4_5th img{
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}
#content4_6th {
	background-image: url("https://hazelchen02.github.io/project/assets/image (3).png");
  background-color:#383838;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 750px;
  background-position-y: 50px;
  min-height: 1000px;
}
#content4_6th p{
  width: 580px;
}
#sep4{
  background-image: url("https://hazelchen02.github.io/project/assets/image (5).png");
  height: 120vh;
  background-size: cover;
  background-position-y: -550px;
}
#sep4_1{
  width: 100%;
  height: 120vh;
  background:rgba(0,0,0,0.4);
}
#sep4 h1{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  line-height:100vh;
  color:whitesmoke;
  font-weight: bold;

}
#content5_1st{
  height: 150vh;
  width: 100%;
  background:rgba(0,0,0,0.4);
}
#content5 p{
  width: 1200px;
  padding-top: 80px;
  color: whitesmoke;
  font-size: 18.5px;
  padding-left: 50px;
}
#content5{
  background: url("https://hazelchen02.github.io/project/assets/image (2).png");
  background-size: cover;
  min-height: 150vh;
}
